.ignore
.idea/
__pycache__/
/.venv3.11/
/.venv/
/.ipynb_checkpoints/CourseraPortfolioConstruction-checkpoint.ipynb
/JUPYTER_NOTEBOOK/.ipynb_checkpoints/CourseraPortfolioConstruction-checkpoint.ipynb
PROJECT/ECONOMY/.env
